src/main/mule/implementations/get-vehiculos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-vehiculosFlow" doc:id="0a7eb41f-42e0-48e0-94f3-bddc03f2950d" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="c7c57af3-d75d-45a1-9812-753c5d6408c5" variableName="id"/>
		<http:request method="GET" doc:name="Request" doc:id="895883ce-58a7-442c-a335-1b3fa692ebb1" config-ref="HTTP_Request_configuration" path="${rest.pathVehiculos}/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="82b00d9c-c404-4e36-bdbd-bf4453d05f52" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="08e66fa0-dc14-47ec-ac6b-282e97ea983f" >
				<ee:transform doc:name="Transform Message" doc:id="c42ce1d5-cbab-42e0-afa9-8274a29e1bb7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Ocurrio un error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
